mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  padding: 1em;

  // gap: 1rem;
  mat-toolbar {
    margin-bottom: 1rem;
  }

  mat-card-content {
    padding: 0;

    mat-form-field {
      margin-bottom: 1rem;
    }
  }

  mat-card-actions {
    justify-content: end;
    gap: 1rem;
  }
}

.full-width {
  width: 100%;

}

.min-width {
  width: 100%;
  min-width: 150px;
}

.btn-space {
  margin-left: 5px;
}

.form-array-error {
  text-align: left;
}
